.style-navbar {
  right: auto!important;
  left: -84px!important;
}
.style-navbar-padding {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  padding-left: 35px;
  padding-right: 0px;
}


@media only screen and (max-width: 1300px) {
  .hidden-responsive-colum-icon {
    display:none
  };
}

@media only screen and (max-width: 1100px) {
  .hidden-responsive-colum {
    display:none
  };
  .col-dad-icons-mobile {
    margin-left: -75px;
  }
}

@media only screen and (max-width: 800px) {
  .hidden-responsive-colum {
    display:none
  };
  .col-dad-icons-mobile {
    margin-left: -75px;
  }
}

@media only screen and (max-width: 576px) {
  .hidden-responsive-colum {
    display:none
  };
  .col-dad-icons-mobile {
    margin-left: -75px;
  }
}
@media only screen and (max-width: 325px) {
  .col-dad-icons-mobile {
    margin-left: -80px;
  }
}
@media only screen and (max-width: 400px) {
  .col-dad-icons-mobile {
    margin-left: -75px;
  }
}
@media only screen and (max-width: 450px) {
  .col-dad-icons-mobile {
    margin-left: -80px;
  }
}

.float-right {
  float: right;
}

.nav-margin-right {
  padding-right: 23px!important;
  
}

.col-global {
  position: relative;
  border-width: 2px;
  left: 0px;
  float: left;
}
.col-favorito {
  position: relative;
    border-width: 2px;
    width: 42px;
    left: 0px;
    float: left;
}
.col-login {
  position: relative;
  border-width: 2px;
  left: 0px;
  float: left;
}
.col-hamburguer {
  position: relative;
  border-width: 2px;
  left: 0px;
  float: left;
}

.col-dad-icons-mobile {
  width: 100%;
  display: flex;
  justify-content: end;
}

.Style-login {
min-width: 56px;
min-height: 39px;
border-radius: 8px;
padding: 6px 12px;  
width: 100%;
height: 100%;
transition: border 0.2s linear;
border: 1px solid transparent;
}

.Style-login:hover {
  border: 1px solid black;
}

