@media screen and (max-width: 800px) {
    body {
        --overflow: hidden;
    }
    .styleMobileNav {
        height: 100%!important;
    }
    .styleMobileIcons {
        width: 100%;
        background-color: #fff;
    }
}

@media screen and (max-width: 1200px) {   
    .styleMobileIcons {
        width: 100%;
        background-color: #fff;
    }
}

.style-nav-point {
    pointer-events: none;
}
.style-nav-point-tag {
    color: rgb(116 139 184 / 80%)!important  
}

.style-custom-nav {
    padding-left: 45px!important;
}

.nav-margin-top {
    margin-top: 8px!important;
}
